body{
    color: rgb(255, 255, 255);
    /*
    background:white url(../Documenti_Corso/Imamgini/bg_estasio.png) repeat-y center top;
    */
    background: linear-gradient(90deg, green, white, red);
}

h1{
    /*
    border : 20px solid transparent;
    padding: 10px;
    border-image: url(../Documenti_Corso/Imamgini/estasio_ico.png) 20 round;
    -webkit-border-image: url(../Documenti_Corso/Imamgini/estasio_ico.png) 20 round;
    -moz-border-image: url(../Documenti_Corso/Imamgini/estasio_ico.png) 20 round;
    -o-border-image: url(../Documenti_Corso/Imamgini/estasio_ico.png) 20 round;
    */
    border : 2px solid black;
    padding: 10px;
    border-radius: 30px 10px 0px 10px;
    /* ombreggiatura orizonatale , ombreggiatura verticale, sfocatura, diffusione , colore*/
    box-shadow: 5px 10px 15px 15px #333;
    text-transform: lowercase;
    letter-spacing: 3px;
    text-align: center;
    color: black;
    text-shadow: 3px 6px 12px darkgreen;
}

.anim{
    position: relative;
    background: rgb(55, 5, 255);
    width: 300px;
    height: 100px;
    animation: animone 5s infinite;
}

@keyframes animone{
    from{top:0px;}
    to{top:400px;}
}

a{
    text-decoration: none;
}

a:hover{
    /*
    text-decoration: underline;
    color: red;
    */
    text-transform: uppercase;
}